<div class="tab-pane fade" id="pills-reviews" role="tabpanel"
     aria-labelledby="pills-reviews-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <div class="review-content-tour">
                <div class="custom-review mb-80">
                    <h4 class="title-review mb-37">Customer Review</h4>
                    <div class="flex card-list">
                        <div class="card-review">
                            <div class="percent">
                                <svg>
                                    <circle cx="105" cy="105" r="100"></circle>
                                    <circle cx="105" cy="105" r="100"
                                            style="--percent: 30"></circle>
                                </svg>
                                <div class="number center">
                                    <span>overall Ratings</span>
                                    <h5 class="number-reating">4.8</h5>
                                    <span>Out of 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="review-list">
                            <div class="review-list-item mb-40">
                                <span class="comfort">Comfort</span>
                                <div class="flex-two">
                                    <span class="reating">Rating 4.8 </span>
                                    <div class="start">
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                                <div class="progress" role="progressbar"
                                     aria-label="example" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%">
                                    </div>
                                </div>
                            </div>
                            <div class="review-list-item mb-40">
                                <span class="comfort">Comfort</span>
                                <div class="flex-two">
                                    <span class="reating">Rating 4.8 </span>
                                    <div class="start">
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                                <div class="progress" role="progressbar"
                                     aria-label="example" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                            <div class="review-list-item mb-40">
                                <span class="comfort">Comfort</span>
                                <div class="flex-two">
                                    <span class="reating">Rating 4.8 </span>
                                    <div class="start">
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                                <div class="progress" role="progressbar"
                                     aria-label="example" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 60%">
                                    </div>
                                </div>
                            </div>
                            <div class="review-list-item mb-40">
                                <span class="comfort">Comfort</span>
                                <div class="flex-two">
                                    <span class="reating">Rating 4.8 </span>
                                    <div class="start">
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <i class=" icon-Star"></i>
                                        <span>5.0</span>
                                    </div>
                                </div>
                                <div class="progress" role="progressbar"
                                     aria-label="example" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 90%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="client-review mb-80">
                    <div class="flex-two mb-50 inner-header">
                        <h4 class="title-review">Client’s Review</h4>
                        <div class="client-review flex">
                            <span>6 Reviews</span>
                            <div class="start">
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                            </div>
                            <span>(5 out of 5)</span>
                        </div>

                    </div>

                    <div class="client-review-list">
                        <div class="client-review-item flex">
                            <div class="avata">
                                <img src="./assets/images/avata/avt-review.jpg"
                                     alt="image">
                            </div>
                            <div class="content">
                                <span class="name">Rohan De Spond</span>
                                <p class="des">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Curabitur have is
                                    covered many vulputate vestibulum Phasellus
                                    rhoncus, dolor eget viverra
                                    pretium dolor tellus aliquet nunc, vitae
                                    ultricies erat elit eu lacus.
                                </p>
                                <div class="start">
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <span>5.0</span>
                                </div>
                                <span class="date">25 jan 2021</span>

                            </div>

                        </div>
                        <div class="client-review-item flex">
                            <div class="avata">
                                <img src="./assets/images/avata/avt-review.jpg"
                                     alt="image">
                            </div>
                            <div class="content">
                                <span class="name">Rohan De Spond</span>
                                <p class="des">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Curabitur have is
                                    covered many vulputate vestibulum Phasellus
                                    rhoncus, dolor eget viverra
                                    pretium dolor tellus aliquet nunc, vitae
                                    ultricies erat elit eu lacus.
                                </p>
                                <div class="start">
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <span>5.0</span>
                                </div>
                                <span class="date">25 jan 2021</span>

                            </div>

                        </div>
                        <div class="client-review-item flex">
                            <div class="avata">
                                <img src="./assets/images/avata/avt-review.jpg"
                                     alt="image">
                            </div>
                            <div class="content">
                                <span class="name">Rohan De Spond</span>
                                <p class="des">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.Curabitur have is
                                    covered many vulputate vestibulum Phasellus
                                    rhoncus, dolor eget viverra
                                    pretium dolor tellus aliquet nunc, vitae
                                    ultricies erat elit eu lacus.
                                </p>
                                <div class="start">
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <i class=" icon-Star"></i>
                                    <span>5.0</span>
                                </div>
                                <span class="date">25 jan 2021</span>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="form-review bg-1">
                    <h4 class="title-review mb-60">leave a comment</h4>
                    <div class="inner-review flex-one mb-50">
                        <div class="inner-review-item">
                            <span class="text-review">Value for Money*</span>
                            <div class="start">
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                            </div>

                        </div>
                        <div class="inner-review-item">
                            <span class="text-review">Destination*</span>
                            <div class="start">
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                            </div>

                        </div>
                        <div class="inner-review-item">
                            <span class="text-review">Accommodation*</span>
                            <div class="start">
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                            </div>

                        </div>
                        <div class="inner-review-item">
                            <span class="text-review">Transport*</span>
                            <div class="start">
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                                <i class=" icon-Star"></i>
                            </div>

                        </div>

                    </div>
                    <form action="/" id="form-review">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="relative input-wrap mb-37">
                                    <i class="icon-user-1-1"></i>
                                    <input type="text" placeholder="First name"
                                           name="name">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="relative input-wrap mb-37">
                                    <i class="icon-Group-51"></i>
                                    <input type="email" placeholder="Email Address"
                                           name="email">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset class="relative input-wrap mb-37">
                                    <i class="icon-content"></i>
                                    <textarea name="review" rows="10" cols="50"
                                              placeholder="Write Review"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkbox mb-60">
                                    <input id="check-review" type="checkbox"
                                           name="check" value="check">
                                    <label for="check-review">
                                        I agree to Terms &
                                        Conditions, Refund Policy and Privacy Policy
                                        of Fabrilife.
                                    </label>
                                </div>
                            </div>
                            <div class="cok-lg-12">
                                <button type="submit" class="submit">
                                    Post
                                    Comment
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
        @await Component.InvokeAsync("_TourRightSidebarComponentPartial")

        
    </div>

</div>