@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Vitour - Travel & Tour Booking HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/vitour/app/css/app.css">
    <link rel="stylesheet" href="/vitour/app/css/map.min.css">
    <link rel="stylesheet" href="/vitour/app/css/jquery.fancybox.min.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="/vitour/assets/images/favico.png">

</head>

<body class="body header-fixed ">

    <div class="preload preload-container">
        <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
    </div>

    <!-- /preload -->
    @await Component.InvokeAsync("_TourHeaderComponentPartial")

    <!-- Mobile Menu  -->
    <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index.html">
                    <img src="/vitour/assets/images/logo2.png" alt="">
                </a>
            </div>
            <div class="bottom-canvas">
                <div class="menu-outer">
                </div>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
  
    <!-- End Main Header -->
    <main id="main">
        <section>
            <div class="tf-container">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="padding: 40px 0;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="tour-single">
            <div class="tf-container">
                
                @await Component.InvokeAsync("_TourDetailTabsComponentPartial")
                <div class="row pd-main">
                    <div class="col-lg-12">
                        <div class="tab-content" id="pills-tabContent">
                          
                            @await Component.InvokeAsync("_TourDetailComponentPartial")

                            <div class="tab-pane fade" id="pills-tour-planing" role="tabpanel"
                                 aria-labelledby="pills-tour-planing-tab" tabindex="0">
                                
                                @await Component.InvokeAsync("_TourPlanComponentPartial", new { days = Model.Days })

                            </div>
                          
                            @await Component.InvokeAsync("_TourLocationComponentPartial")

                            @await Component.InvokeAsync("_TourReviewsComponentPartial", new { id = Model.TourID })
                            @await Component.InvokeAsync("_ReviewCommentComponentPartial", new { tourId = Model.TourID })

                        </div>
                    </div>
                </div>

            </div>

        </section>


       

    </main>

    
    @await Component.InvokeAsync("_TourFooterComponentPartial")
    <!-- Bottom -->
    </div>
    <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->

    <a id="scroll-top" class="button-go"></a>



    <!-- Javascript -->
    <script src="/vitour/app/js/jquery.min.js"></script>
    <script src="/vitour/app/js/jquery.nice-select.min.js"></script>
    <script src="/vitour/app/js/bootstrap.min.js"></script>
    <script src="/vitour/app/js/swiper-bundle.min.js"></script>
    <script src="/vitour/app/js/swiper.js"></script>
    <script src="/vitour/app/js/plugin.js"></script>
    <script src="/vitour/app/js/jquery.fancybox.js"></script>
    <script src="/vitour/app/js/map.min.js"></script>
    <script src="/vitour/app/js/map.js"></script>
    <script src="/vitour/app/js/shortcodes.js"></script>
    <script src="/vitour/app/js/main.js"></script>

</body>

</html>