<div class="tab-pane fade" id="pills-shot-gallery" role="tabpanel"
     aria-labelledby="pills-shot-gallery-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <div class="gallery-content-tour">
                <div class="image-gallery1 image">
                    <img src="./assets/images/gallery/gallery.jpg" alt="image"
                         class="item1">
                </div>

                <div class="image-gallery2 image">
                    <img src="./assets/images/gallery/gallery2.jpg" alt="image"
                         class="item2">
                </div>

                <div class="image-gallery3 image">
                    <img src="./assets/images/gallery/gallery3.jpg" alt="image"
                         class="item1">
                </div>

                <div class="image-gallery4 image">
                    <img src="./assets/images/gallery/gallery4.jpg" alt="image"
                         class="item2">
                </div>

                <div class="image-gallery5 image">
                    <img src="./assets/images/gallery/gallery5.jpg" alt="image"
                         class="item1">
                </div>

                <div class="image-gallery6 image">
                    <img src="./assets/images/gallery/gallery6.jpg" alt="image"
                         class="item2">
                </div>
            </div>

        </div>
        @await Component.InvokeAsync("_TourRightSidebarComponentPartial")

    </div>

</div>