@model List<GetTourFeatureDto>
<div class="expect-wrap">
    <h4 class="title mb-40">Tur Olanakları</h4>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <ul class="listing-icon">
                    <li class="flex-three">
                        <i class="icon-10"></i>
                        <p>@item.FeatureName</p>
                    </li>
                </ul>
            </div>
        </div>
    }
  
</div>