@model List<GetTourDayPlanDto>
<div class="row">
    <div class="col-lg-8">
        <div class="planing-content-tour">
            <h3 class="title-plan">Tur Plan :</h3>
            @foreach (var item in Model)
            {
                <div class="tour-planing-section flex">
                    <div class="number-box flex-five">@item.DayNumber</div>
                    <div class="content-box">
                        <h5 class="title">Gün @item.DayNumber: @item.Title</h5>
                        <p class="des">
                            @item.Description
                        </p>
                    </div>
                </div>
            }


        </div>
    </div>
    @await Component.InvokeAsync("_TourRightSidebarComponentPartial")


</div>